<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Manager" asp-action="AllCustomers">All customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Manager" asp-action="RentalDetails">Rental details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Manager" asp-action="AllRentals">All rentals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Manager" asp-action="StoresDetails">Stores details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Manager" asp-action="CheckReservation">Check reservation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Manager" asp-action="Films">Films</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Manager" asp-action="Search">Search</a>
                </li>
                <li>
                    <partial name="_LoginPartial" />
                </li>
            </ul>
        </div>
    </nav>
</header>